.button {
  padding: 8px 32px;
  border: 1px solid gainsboro;
  border-radius: 10px;
  font-size: 20px;
  background-color: rgb(150, 160, 18);
  color: white;
}

.button:hover {
  background-color: rgb(228, 194, 58);
  border-color: white;
}

.options {
  display: flex;
  flex-direction: row;
  gap: 16px;
}